<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Coffie Machine
        link(rel="stylesheet", href="./css/style.css")
    body
        .coffie
            .coffie__top
                .coffie__buttons
                    button.coffie__power on
                    button.coffie__go go
                .coffie__interface 5sec
                .coffie__status
                    .coffies__progress
            .coffie__body
                .coffie__cup
                    img(src="./img/coffee_cup.png", alt="")
                .coffie__base
                .coffie__crane
            .coffie__bot
        
        script(src="./js/scripts.js")