.player {
    border: 1px solid black;
    padding: 15px;
}
.player__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.player__player {
    width: 100%;
    display: block;
    margin-bottom: 15px;
}
.player__status {
    font-size: 24px;
    margin-bottom: 15px;
}
.btn {
    padding: 5px 10px;
    background-color: red;
    color: white;
    border-radius: 3px;
}